---

dependency:
  name: galaxy
driver:
  name: hetznercloud
lint: |
  set -e
  yamllint .
  ln -fs molecule/default/requirements.yml
  ansible-lint
  rm -f requirements.yml
platforms:
{% for platform in MOLECULE_DISTROS %}
  - name: facts-{{ platform.name }}-node1
    server_type: "{{ platform.server_type | default('cx11') }}"
    image: "{{ platform.image }}"
    location: "{{ platform.location | default('hel1') }}"
{% endfor %}
provisioner:
  name: ansible
{% if MOLECULE_ANSIBLE_ARGS is defined %}
  ansible_args:
{% for molecule_ansible_arg in MOLECULE_ANSIBLE_ARGS %}
    - {{ molecule_ansible_arg }}
{% endfor %}
{% endif %}
  env:
    ANSIBLE_PIPELINING: "True"
    ANSIBLE_VERBOSITY: {{ molecule.ansible.verbosity | default(0) }}
  lint:
    name: ansible-lint
  playbooks:
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}
  inventory:
    group_vars:
      linux:
        ansible_password: vagrant
        ansible_user: vagrant
        custom_facts_additional:
        - groups: all
          name: fact1
        - name: fact2
          os_family:
          - RedHat
        - group: group1
          name: fact3
        - groups:
          - group2
          name: fact4
      windows:
        ansible_become_method: runas
        ansible_become_user: vagrant
        ansible_connection: ssh
        ansible_password: vagrant
        ansible_shell_type: cmd
        ansible_user: vagrant
        custom_facts_additional:
        - winfoo

    host_vars:
{% for platform in MOLECULE_DISTROS %}
      facts-{{ platform.name }}-node1:
        foo: bar

{% endfor %}
scenario:
  name: default
verifier:
  name: ansible
