#!/bin/bash

Repos_enabled=$(echo $(yum repolist --quiet --enabled | awk 'NR>1 {print $1}') | sed "s/^/\"/;s/ /\", \"/g;s/$/\"/")
Repos_disabled=$(echo $(yum repolist --quiet --disabled | awk 'NR>1 {print $1}') | sed "s/^/\"/;s/ /\", \"/g;s/$/\"/")

echo "{ \"enabled\": [ $Repos_enabled ], \"disabled\": [ $Repos_disabled ] }"
